@import "tailwindcss";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


:root {
  font-size: 62.5%;
}

/* @keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
.splash-screen {
  animation: fadeOut 3s forwards;
} */


.lottie-animation {
  animation-duration: 8s; 
}